In [1]:
import os
import numpy as np
import matplotlib.pyplot as plt

os.listdir()

['.config', 'FoodBalanceSheets_E_Africa_NOFLAG.csv', 'sample_data']

In [3]:
import pandas as pd
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
44821,184,Rwanda,2549,"Pulses, Other and products",5611,Import Quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
44822,184,Rwanda,2549,"Pulses, Other and products",5072,Stock Variation,1000 tonnes,0.0,0.0,0.0,0.0,0.0
44823,184,Rwanda,2549,"Pulses, Other and products",5911,Export Quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
44824,184,Rwanda,2549,"Pulses, Other and products",5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
44825,184,Rwanda,2549,"Pulses, Other and products",5521,Feed,1000 tonnes,0.0,NaN,NaN,NaN,NaN

In [5]:
unique_countries = df['Area'].unique()

In [6]:
total_unique_countries = len(unique_countries)

In [7]:
print("Total number of unique countries:", total_unique_countries)

Total number of unique countries: 36

In [8]:
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar')]['Y2015'].sum()

In [9]:
print("Total Protein Supply Quantity in Madagascar in 2015:", madagascar_protein_2015)

Total Protein Supply Quantity in Madagascar in 2015: 126674.9

In [11]:
result = df[['Y2017', 'Area']].groupby('Area').sum().sort_values('Y2017').iloc[6]
print(result)

Y2017    22729.91
Name: Djibouti, dtype: float64

In [12]:
result = df[['Y2017', 'Area']].groupby('Area').sum().sort_values('Y2017', ascending=False).iloc[0]
print(result)

Y2017    1483268.23
Name: Nigeria, dtype: float64

In [13]:
wine_production_2015_2018 = df[(df['Item'] == 'Wine') & ((df['Element'] == 'Production') | (df['Element'] == 'Import Quantity'))]
result = wine_production_2015_2018.groupby('Element')['Y2015', 'Y2018'].sum()
print(result)

                 Y2015  Y2018
Element
Import Quantity  312.0  278.0
Production        64.0  114.0

<ipython-input-13-e2a6d40b762c>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = wine_production_2015_2018.groupby('Element')['Y2015', 'Y2018'].sum()

In [14]:
result = df[df['Element'] == 'Processing']['Y2017'].sum()

print(result)

194188.0

In [15]:
result = df[['Y2017', 'Area']].groupby('Area')['Y2017'].sum().reset_index()
result = result.sort_values(by='Y2017', ascending=True)

# Get the Area with the 7th lowest sum in 2017
seventh_lowest_area = result.iloc[6]['Area']

print(seventh_lowest_area)

Djibouti

In [16]:
unique_countries = df['Area'].nunique()

print(unique_countries)

36

In [17]:
protein_supply_madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Food supply (kcal/capita/day)')]['Y2015'].sum()

print(protein_supply_madagascar_2015)

7685.0

In [18]:
total_missing_2014 = df['Y2014'].isnull().sum()

# Calculate the total number of rows in the DataFrame
total_rows = len(df)

# Calculate the percentage of missing data in 'Y2014' to three decimal places
percentage_missing_2014 = (total_missing_2014 / total_rows) * 100

# Print the results
print("Total Missing Data in Y2014:", total_missing_2014)
print("Percentage of Missing Data in Y2014 (to 3 decimal places): {:.3f}%".format(percentage_missing_2014))

Total Missing Data in Y2014: 1193
Percentage of Missing Data in Y2014 (to 3 decimal places): 2.661%